<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>bear</string>
		<key>Image</key>
		<string>bear.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>bird</string>
		<key>Image</key>
		<string>bird.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>cat</string>
		<key>Image</key>
		<string>cat.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>chicken</string>
		<key>Image</key>
		<string>chicken.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>cow</string>
		<key>Image</key>
		<string>cow.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>crocodile</string>
		<key>Image</key>
		<string>croc.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>dog</string>
		<key>Image</key>
		<string>dog.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>duck</string>
		<key>Image</key>
		<string>duck.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>elephant</string>
		<key>Image</key>
		<string>elephant.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>fish</string>
		<key>Image</key>
		<string>fish.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>giraffe</string>
		<key>Image</key>
		<string>giraffe.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>guineapig</string>
		<key>Image</key>
		<string>guineapig.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>hamster</string>
		<key>Image</key>
		<string>hamster.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>hippo</string>
		<key>Image</key>
		<string>hippo.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>horse</string>
		<key>Image</key>
		<string>horse.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>lamb</string>
		<key>Image</key>
		<string>lamb.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>leopard</string>
		<key>Image</key>
		<string>leopard.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>lion</string>
		<key>Image</key>
		<string>lion.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>monkey</string>
		<key>Image</key>
		<string>monkey</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>mouse</string>
		<key>Image</key>
		<string>mouse.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>penguin</string>
		<key>Image</key>
		<string>penguin.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>pig</string>
		<key>Image</key>
		<string>pig.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>rabbit</string>
		<key>Image</key>
		<string>rabbit.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>snake</string>
		<key>Image</key>
		<string>snake.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>tiger</string>
		<key>Image</key>
		<string>tiger.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>turkey</string>
		<key>Image</key>
		<string>turkey.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>zebra</string>
		<key>Image</key>
		<string>zebra.jpg</string>
	</dict>
</array>
</plist>
