<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>black</string>
		<key>Image</key>
		<string>black.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>blue</string>
		<key>Image</key>
		<string>blue.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>brown</string>
		<key>Image</key>
		<string>brown.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>cream</string>
		<key>Image</key>
		<string>cream.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>green</string>
		<key>Image</key>
		<string>green.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>grey</string>
		<key>Image</key>
		<string>grey.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>orange</string>
		<key>Image</key>
		<string>orange.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>pink</string>
		<key>Image</key>
		<string>pink.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>purple</string>
		<key>Image</key>
		<string>purple.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>red</string>
		<key>Image</key>
		<string>red.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>turquoise</string>
		<key>Image</key>
		<string>turquoise.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>yellow</string>
		<key>Image</key>
		<string>yellow.png</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>white</string>
		<key>Image</key>
		<string>white.png</string>
	</dict>
</array>
</plist>
