<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>black</string>
		<key>Image</key>
		<string>black.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>blue</string>
		<key>Image</key>
		<string>blue.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>brown</string>
		<key>Image</key>
		<string>brown.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>gold</string>
		<key>Image</key>
		<string>gold.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>green</string>
		<key>Image</key>
		<string>green.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>grey</string>
		<key>Image</key>
		<string>gray.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>orange</string>
		<key>Image</key>
		<string>orange.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>pink</string>
		<key>Image</key>
		<string>pink.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>purple</string>
		<key>Image</key>
		<string>purple.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>red</string>
		<key>Image</key>
		<string>red.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>silver</string>
		<key>Image</key>
		<string>silver.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>turquoise</string>
		<key>Image</key>
		<string>turquoise.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>yellow</string>
		<key>Image</key>
		<string>yellow.jpeg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>white</string>
		<key>Image</key>
		<string>white.jpeg</string>
	</dict>
</array>
</plist>
