<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A dog likes walking</string>
	<string>A cat drinks milk</string>
	<string>The cat is playing</string>
	<string>The dog is tired</string>
</array>
</plist>
